<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Esqueceu Sua Senha?</h3>

      <p class="text-center">Por favor, digite seu endereço de e-mail para solicitar uma redefinição de senha.</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Volte para? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>

  </div>
</div>
